{% extends '../layouts/usual-layout.html' %}

{% set title = 'About' %}

{% block content %}
  <h2>{{ title }}</h2>

  <p>Visual Site Mapper is a free service that can quickly show a map of your site.</p>
  <p>The service is created by <a href="https://www.alentum.com/">Alentum Software Ltd.</a>, that is also the creator of
    the popular web log analytics tool <a href="https://www.weblogexpert.com/">WebLog Expert</a>.</p>
  <p>If you have question or suggestions on this service, please send them to <a href="mailto:support@alentum.com">support@alentum.com</a>.</p>
{% endblock %}


